[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=OVP
Exec=/usr/bin/single-instance /opt/openvideoplayer/bin/openvideoplayer
Icon=/usr/share/icons/hicolor/80x80/apps/openvideoplayer.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
